* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: "Press";
    src: url(Font/PressStart2P-Regular.ttf);
}

@font-face {
    font-family: "Pangolin";
    src: url(Font/Pangolin-Regular.ttf);
}

.header {
    background-color: rgb(26, 255, 0);
    font-family: "Press", sans-serif;    
}

.header_title {
    font-size: 50px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.nav a{
    text-decoration: none;
    color: rgb(39, 39, 39);
    transition: 0.2s;
    font-size: 20px;
}

.nav {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 50px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.nav a:hover {
    color: red;
    font-size: 22px;
}

header {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0), 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.footer {
    background-color: black;
    color: white;
    font-family: "Press", sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 15px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

footer p {
    padding-bottom: 10px;
}

.main {
    font-family: "Pangolin", sans-serif;
    background: linear-gradient(rgba(255, 98, 0, 0.685) , rgba(255, 0, 255, 0.39));
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.title_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(242, 144, 92) , rgb(174, 255, 0));
    border-radius: 25px;
    padding-left: 15px;
    padding-bottom: 10px;
    transition: 0.5s;
    font-size: 30px;
}

.title_main:hover {
    background: white;
    font-size: 32px;
}

.cal {
    border-radius: 25px;
    background: linear-gradient(red , blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding-top: 10px;
    transition: 0.5s;
    padding-bottom: 10px;
}

.cali {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.cal:hover {
    background: rgba(0, 255, 0, 0.9);
    font-size: 49px;
}


#height , #weight {
    font-size: 25px;
}

.img {
    width: auto;
    height: 300px;
    border-radius: 25px;
    transition: 0.5s;
}

.img:hover {
    height: 380px;
}

.id h1 {
    display: flex;
    justify-content: center;
}

.piy {
    background: rgb(183, 255, 0);
    border-radius: 25px;
    transition: 0.5s;
}

.id p , .id li {
    padding-left: 15px;
}

.piy:hover {
    background-color: white;
    font-size: 25px;
}
.top {
    padding-top: 20px;
} 

@media screen and (max-width: 767px) {
    .header_title {
        font-size: 8vw;
        padding-left: 20px;
    }
    .nav  {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
    }

    .nav a {
        font-size: 4vw;
        padding-left: 20px;
    }

    .footer_title {
        font-size: 17px;
        padding-left: 20px;
    }

    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .title_main {
        background: white;
        font-size: 15px;
        padding-left: 0px;
    }

    .cali {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .main {
        padding-left: 10px;
        padding-right: 10px;
    }

    .name {
        font-size: 8vw;
    }

    .title_main p {
        font-size: 6vw;
        padding-left: 6px;
    }

    .cal {
        background: rgb(179, 179, 179);
    }

    .cal h1 {
        font-size: 8vw;
    }

    .cal:hover {
        background: rgb(179,179,179);
        font-size: 30px;
    }

    .cal input {
        width: 90%;
    }

    .cal button {
        font-size: 6vw;
    }

    .img {
        height: 270px;
        width: 100%;
    }

    .img:hover {
        height: 270px;
    }

    .id {
        background: white;
        border-radius: 25px;
        padding-bottom: 10px;
    }

    .id h1 {
        font-size: 7vw;
        padding-left: 15px;
    }

    .id p {
        font-size: 6vw;
    }

    .id li {
        font-size: 6vw;
    }

}
