* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: "Press";
    src: url(Font/PressStart2P-Regular.ttf);
}

@font-face {
    font-family: "Pangolin";
    src: url(Font/Pangolin-Regular.ttf);
}

.header {
    background-color: rgb(26, 255, 0);
    font-family: "Press", sans-serif;    
}

.header_title {
    font-size: 50px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.nav a{
    text-decoration: none;
    color: rgb(39, 39, 39);
    transition: 0.2s;
    font-size: 20px;
}

.nav {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 50px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.content {
    display: flex;
    padding-left: 150px;
    padding-top: 25px;
    justify-content: center;
    gap: 15px;
    padding-bottom: 25px;
    padding-right: 150px;
}

.main {
    font-family: "Pangolin", sans-serif;
    background: linear-gradient(rgb(0, 21, 255) , rgb(255, 0, 0));
} 

.txt {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    background: linear-gradient(rgba(0, 255, 0, 0.933), rgba(255, 0, 242, 0.933));
    border-radius: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    transition: 0.5s;
    font-size: 20px;
}

.glava {
    border-radius: 25px;
    width: auto;
    min-width: 500px;
}

.txt h2 {
    display: flex;
    justify-content: center;
}

.footer {
    background-color: black;
    color: white;
    font-family: "Press", sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 15px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.info {
    gap: 10px;
}

header {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0), 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

footer p {
    padding-bottom: 10px;
}

.nav a:hover {
    color: red;
    font-size: 22px;
}

.txt p , .txt li {
    font-size: 25px;
}

.txt:hover {
    background: rgb(255, 255, 255);
    padding-left: 120px;
    padding-right: 120px;
    font-size: 30px;
}

.txt {
    gap: 10px;
}

@media screen and (max-width: 767px) {

    .txt {
        background: white;
        font-size: 6vw;
        padding-left: 2px;
        padding-right: 2px;
    }
    .header_title {
        font-size: 8vw;
        padding-left: 20px;
    }
    .nav  {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
    }

    .nav a {
        font-size: 4vw;
        padding-left: 20px;
    }

    .content {
        padding-left: 10px;
        padding-right: 10px;
    }

    .footer_title {
        font-size: 17px;
        padding-left: 20px;
    }

    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .txt:hover {
        font-size: 20px;
        padding-left: 2px;
        padding-right: 2px;
    }

    .txt h2 {
        font-size: 8vw;
    }

    .txt p {
        font-size: 6vw;
    }

    .txt li {
        font-size: 6vw;
    }
    
}
    


